<div class="viewBorrowRecord">
    <div *ngFor="let br of borrowRecords" class="record-card">
        <p><strong>Title:</strong> {{ br.title }}</p>
        <p><strong>Borrow Status:</strong> {{ br.borrowStatus }}</p>
        <p><strong>Fine:</strong> {{ br.fine }}</p>
        <p><strong>FinePaid:</strong> {{ br.finePaid }}</p>
        <p><strong>Borrow Date:</strong> {{ br.borrowDate }}</p>
        <p><strong>Due Date:</strong> {{ br.dueDate }}</p>
        <p><strong>Returned Date:</strong> {{ br.returnDate }}</p>
        <button *ngIf="br.borrowStatus === 'BORROWED'" (click)="onReturn(br)">Return</button>
    </div>
    <div class="modal" *ngIf="successMessage">
        <div class="modal-content success">
            <p>{{ successMessage }}</p>
            <button (click)="onSuccessOk()">Ok</button>
        </div>
    </div>

    <div class="modal" *ngIf="errorMessage">
        <div class="modal-content error">
            <p>{{ errorMessage }}</p>
            <button (click)="onErrorClose()">Close</button>
        </div>
    </div>
</div>