<div class="register-container">
    <h2>Register</h2>
    <form [formGroup]="addUserForm" (ngSubmit)="onSubmit()">
        <div class="input-box">
            <label for="firstname">First Name: </label>
            <input id="firstname" type="text" formControlName="firstname">
        </div>

        <div class="input-box">
            <label for="lastname">Last Name: </label>
            <input id="lastname" type="text" formControlName="lastname">
        </div>

        <div class="input-box">
            <label for="email">Email: </label>
            <input id="email" type="email" formControlName="email">
        </div>

        <div class="input-box">
            <label for="mobile">Mobile: </label>
            <input id="mobile" type="text" formControlName="mobile">
        </div>

        <div class="input-box">
            <label for="password">Password: </label>
            <input id="password" type="password" formControlName="password">
        </div>

        <div class="input-box">
            <label for="role">Role:</label>
            <select id="role" formControlName="role">
                <option value="ADMIN">Admin</option>
                <option value="LIBRARIAN">Librarian</option>
                <option value="USER">User</option>
            </select>
        </div>

        <button class="btn" type="submit">Submit</button>

        <div class="modal" *ngIf="successMessage">
            <div class="modal-content success">
                <p>{{ successMessage }}</p>
                <button (click)="onSuccessOk()">Ok</button>
            </div>
        </div>

        <div class="modal" *ngIf="errorMessage">
            <div class="modal-content error">
                <p>{{ errorMessage }}</p>
                <button (click)="onErrorClose()">Close</button>
            </div>
        </div>
    </form>
</div>