<div class="book-container">
    <form [formGroup]="updateBookForm" (ngSubmit)="onSubmit()">
        <div class="input-box">
            <label for="title">Title:</label>
            <input id="title" type="text" placeholder="Title" formControlName="title">
        </div>

        <div class="input-box">
            <label for="author">Author:</label>
            <input id="author" type="text" placeholder="Author" formControlName="author">
        </div>

        <div class="input-box">
            <label for="genre">Genre:</label>
            <input id="genre" type="text" placeholder="Genre" formControlName="genre">
        </div>

        <div class="input-box">
            <label for="quantity">Quantity:</label>
            <input id="quantity" type="number" placeholder="Quantity" formControlName="quantity">
        </div>

        <div class="input-box">
            <label for="imageUrl">ImageUrl:</label>
            <input id="imageUrl" type="text" placeholder="Image" formControlName="imageUrl">
        </div>

        <button class="btn" type="submit">Submit</button>
    </form>
    <div class="modal" *ngIf="successMessage">
        <div class="modal-content success">
            <p>{{ successMessage }}</p>
            <button (click)="onSuccessOk()">Ok</button>
        </div>
    </div>

    <div class="modal" *ngIf="errorMessage">
        <div class="modal-content error">
            <p>{{ errorMessage }}</p>
            <button (click)="onErrorClose()">Close</button>
        </div>
    </div>
</div>