<div class="login-container">
    <h2>Login</h2>
    <form (ngSubmit)="onLogin()">
        <div class="input-box">
            <label for="email">Email: </label>
            <input id="email" type="email" [(ngModel)]="email" name="email" placeholder="Email" required>
        </div>
        <div class="input-box">
            <label for="password">Password: </label>
            <input id="password" type="password" [(ngModel)]="password" name="password" placeholder="Password" required>
        </div>

        <button class="btn" type="submit">Login</button>
    </form>

    <hr>
     <div class="register-link">
         <span>Don't have an account?</span>
         <a routerLink="/register">Register</a>
     </div>
</div>